<!-- interpolation -->
<h3>interpolation</h3>
<h6>
    Course Name - {{courseName}}
</h6>
<input type="{{inputType}}" name="gender" value="male"> Male
<input type="{{inputType}}" name="gender" value="female"> Female
<br>
<label>
    Enter Course
    <input type="text" name="courseName" 
    value="{{courseName}}" id="">
</label>
<br>
<button class="{{myClass}}">Submit</button>
<br>

<!-- property binding -->
<h3>property binding</h3>
<label for="">Enter course</label>
<input type="text" name="course name" [value]="courseName" id="">
<br>

<input [type]="inputType" name="gender" value="male"> Male
<input [type]="inputType" name="gender" value="female"> Female
<br>

<img [src]="imageUrl" alt="">

<h3>event binding</h3>

<button (click)="sayHello('Ahmed')" >Click me</button>
<button (click)="changeCourseName('React JS')" >Change course</button>

<h3>Two way / ngModel</h3>

<label for="">Enter your name</label>
<input type="text" name="name"  [(ngModel)]="name" >

{{name}}