<!-- ng g c componentName -->
<app-myheader></app-myheader>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias rem, enim necessitatibus sapiente iusto obcaecati, placeat esse impedit voluptatum vitae iste corrupti voluptates nostrum cum modi recusandae deleniti debitis. Sed.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias rem, enim necessitatibus sapiente iusto obcaecati, placeat esse impedit voluptatum vitae iste corrupti voluptates nostrum cum modi recusandae deleniti debitis. Sed.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias rem, enim necessitatibus sapiente iusto obcaecati, placeat esse impedit voluptatum vitae iste corrupti voluptates nostrum cum modi recusandae deleniti debitis. Sed.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias rem, enim necessitatibus sapiente iusto obcaecati, placeat esse impedit voluptatum vitae iste corrupti voluptates nostrum cum modi recusandae deleniti debitis. Sed.</p>

<app-myfooter></app-myfooter>
